html,body{
	background:#DAE5F1
}

#logo{
	height:200px;
}

header .row{
	min-height:initial;
}

.content{
	width:100%
}

.top-acc{
	margin-top:20px;
}

.equipe_apercu{
	margin-top:100px;
}

.page-header{
	margin:0px 0px;
	border-bottom:none;
}


.content .col-xs-4 h1{
	font-size:100px;
	margin-top:45px;
	color:#0174CF;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin-top:110px;
}

.content .col-xs-6 p{
	margin-top:45px;	
}

.container-fluid{
	padding-left:0px;
	padding-right:0px;
	
}

#menu_horizontal .navbar.navbar-inverse{
	border-radius: 0px;
	background: #3F72A6;
	border: none;
	top: 0px;
	position: fixed;
	width: 100%;
	z-index:1;
}

.navbar-inverse .navbar-nav > li > a{
	color:#FFF;
}

#monmenu .nav.navbar-nav .active a{
	background-color:#23405C
}

footer{
	background:#3F72A6;
	position: absolute;
	bottom:0;
	width: 100%;
	color: #FFF;
	height: 50px;
}

footer .infos{
	font-size:15px;
	margin-top:15px;
	float:left;
}

footer .mentions{
	float:right;
	font-size: 15px;
	margin-top: 15px;
	margin-right: 15px;
}

footer .mentions a{
	color:#FFF;
	text-decoration:none;
}


#menu{
	list-style-type: none;
	position:absolute;
}

#menu li{
	list-style-type: none;
}

#menu li a{
    color: #fff;
    background-color: transparent;
}

#menu ul li a{
    color: #fff;
    background-color: transparent;
}

.apercu_equipe .lib p{
	width: 150px;
	text-align:center;
}

.content_equipe{
	display:inline-flex;
	width:100%
}

.apercu_equipe{
    margin-right: 55px;
    margin-left: 55px;
    margin-bottom:30px;
}

.optionAdmin{
    height: 100vh;
    position: absolute;
    top: 0px;
    left: -15px;
    line-height: 40px;
    background: #B0C4DE;
    padding-right: 20px;
}

.optionAdmin ul li{
	list-style-type:none;
}

.formPatient label{
	display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 500;
    width: 200px;
}

	
